$primary: #ffffff;
$side-drawer-bg: #fafafa;
$primary-o: rgba(255, 255, 255, 0.75);
$primary-dark: #dfdfdf;

$secondary-100: #e2f4ff;
$secondary-200: #1b9ee5;
$secondary-o-200: #1b9ee573;
$secondary-300: #1e4282;
$secondary-o-300: #1e43828a;

$accent: #ffb730;
$accent-o: #ffb7308e;
$accent-h: #e6a733;
$accent-a: #ffc14f;

$text-color-dark: #001010;
$text-color-light: #ffffff;