$fs-body: clamp(0.7rem, calc(12px + 0.28vw), 0.787rem);

$fs-link: clamp(0.805rem, calc(12px + 0.42vw), 0.875rem);

$fs-title: clamp(1.487rem, calc(12px + 1.925vw), 2.012rem);

$fs-subtitle: clamp(1.050rem, calc( 12px + 1.200vw ), 1.350rem);

$fs-subtitle-2: clamp(0.997rem, calc(12px + 1.05vw), 1.313rem);

$fs-heading: clamp(0.897rem, calc(12px + 1vw), 1.213rem);

$fs-heading-footer: clamp(0.875rem, calc(12px + 0.7vw), 1.05rem);

$fs-icon-btn: 0.8rem;

$fs-upper-footer-icon: 1.5rem;

$fw-bold: 600;