$fs-body: clamp(0.5rem, 3.5vw, 0.8rem);

$fs-link: clamp(0.7rem, 3vw, 1rem);

$fs-title: clamp(1.5rem, 5vw, 1.8rem);

$fs-subtitle: clamp(1.12rem, 4vw, 1.28rem);

$fs-subtitle-2: clamp(1.15rem, 4vw, 1.32rem);

$fs-heading: clamp(1.15rem, 2vw, 1.25rem);

$fs-heading-footer: clamp(1.07rem, 4vw, 1.2rem);

$fs-icon-btn: 0.8rem;

$fs-upper-footer-icon: 1.5rem;

$fw-bold: 600;
