@use "../../../abstract" as *;

.news-gallery {
  --bs-gutter-x: 0;
}

.gallery {
  padding-left: min(4rem, 4vw);
}

.gallery__list {
  &__cn {
    overflow: hidden;
    overflow-y: scroll;
  }

  padding-right: $gutter-xxl;

  &__item {
    height: 115px;
    box-shadow: $shadow-md;
    border: $border-xs;
    overflow: hidden;
    flex-direction: row-reverse;

    &__image {
      overflow: hidden;

      &__img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.news {
  padding-left: min(3rem, 4vw);

  &__slider {
    &__list {
      white-space: nowrap;
      overflow: hidden;
      overflow-x: scroll;
      &__card {
        max-height: 450px;
        width: min(250px, 90vw);
        padding: 0 !important;
        border: $border-xs;
        box-shadow: $shadow-md;
        border-radius: $rounded-sm;
        cursor: pointer;
        display: inline-block;
        white-space: normal;
        margin-inline: $gutter-lg;

        &:hover &__body {
          background-color: $secondary-200;
          color: $text-color-light;
        }

        &__image {
          height: 45%;
          overflow: hidden;

          &__img {
            width: 100%;
            object-fit: cover;
          }
        }

        &__body {
          height: 55%;
          @include simpleTransition;

          &__heading {
            height: 23%;
            overflow: hidden;
          }

          &__text {
            height: 50%;
            text-overflow: ellipsis;
            overflow: hidden;
          }

          &__info {
            height: 27%;
            padding-top: $gutter-md;
            border-top: $border-xs;
            font-size: $fs-body;
          }
        }
      }
    }
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
  position: static;
  top: auto;
  width: auto;
  height: auto;
  margin-top: 0;
  z-index: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-color-dark;

  &::after{
    content: "";
    display: none;
  }
}
