@use "../abstract/variables/spacing" as space;
@use "../abstract/variables/colors" as clr;

.btn-icon {
  display: grid;
  place-content: center;
}

.btn-text-icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: space.$gutter-lg;
  i {
    border-radius: 5rem;
    height: 25px;
    width: 25px;
    background-color: clr.$primary;
    color: clr.$text-color-dark;
    display: inline-grid;
    place-content: center;
    margin-right: space.$gutter-md;
  }
}
